  <div class="row">
  	  <div class="col-md-4">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
            
              <p class="text-muted text-center">Programs</p>

             

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item" *ngIf="!programs"> No Program exists</li>
                <li class="list-group-item" *ngFor="let program of programs ">
                  <p  class="btn btn-primary btn-block"><b>{{program.programName}}</b></p>
                </li>
               
              </ul>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" (key.enter)="addProgram(program.value)" #program  (blur)=" addProgram(program.value);program.value=''">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat" (click)="addProgram(program.value);">Add</button>
                    </span>
              </div>
            </div>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->

         
        </div>
        <!-- /.col -->
  </div>